:root {
  --azure: #30abd6;
  --very-light-blue: #e4ecf3;
  --white: #ffffff;
  --invalid-name: #eff2fa;
  --invalid-name: #1b70f0;
  --pale-grey: #f0f5f9;
  --dark: #1f2343;
  --amethyst: #8e4dd6;
  --pale-grey: #f6f9fa;
  --topaz: #10c9b9;
  --dark-grey-blue: #383e69;
  --red-pink: #e73958;
  --warm-blue: #3a5edd;
  --butterscotch: #ffb44d;
}
html{
  font-size: 62.5%;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
.Course_Detail_01 {
  padding: 0;
  background-color: var(--white);
  width: 100%;
  height: auto;
  margin: 0;
  
}

.bgimg{
  position: absolute; 
  width: 100%;
}
.rectangle{
  margin: 0 7rem;
  padding-top: 2.5rem;
}
.alogoaicolour {
  width: 20.7rem;
  height: 3rem;
  object-fit: contain;
}
.Home {
  font-family:'Nunito';
  font-size: 1.6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.6rem;
  letter-spacing: normal;
  color: var(--white);
  margin-right: 4rem;
}
.Color {
  width: 11rem;
  height: 3.6rem;
  border-radius: 0.6rem;
  background-color: var(--azure);
}
.button-text {
  font-family: 'Nunito';
  font-size: 1.6rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.6rem;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}
.bgmar{
  position: absolute;
  margin-top: 12.3rem;
}
.SIX-MONTHS-ONLINE {
  font-family: 'Nunito';
  font-size: 1.6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.6rem;
  letter-spacing: normal;
  color: var(--white);
  margin-left: 7rem;
}
.Machine-Learning {
  font-family: 'Nunito';
  font-size: 5.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 7rem;
  letter-spacing: normal;
  color: var(--white);
  margin: 2rem 0 1rem 7rem;
}
.Become-a-machine-lea {
  font-family: 'Nunito';
  font-size: 2.4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  color: var(--white);
  margin: 0 0 1.5rem 7rem;
}
.star{
  font-family: 'Nunito';
  font-size: 1.6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: var(--white);
  margin-left: 7rem;
}
._stars{
  padding-left: 2rem;
  width: 12rem;
  
}
.rec{
  width: 163px;
  height: 36px;
  margin-left: 70px;
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 2px;
  opacity: 10%;
}
.users{
  font-family: 'Nunito';
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;
  color: var(--white);
  
}
.banner-video{
  margin-bottom: 25px;
  width: 100%;
  height: 235px;
}
.carsous{
  margin-top: 450px;
  
}
.arrow-lhs{
  margin:130px 15px 0 0;
}
.arrow-rhs{
margin: 130px 0 0 0;
}
.card{
  border-radius: 10px;
  width: 226px;
  height: 203px;
}
.card-imgs{
  width: 75px;
  height: 75px;
  margin: 20px 0 0 20px;
}
.card-title{
  margin: 15px 10px;
}
.tabs{
  margin: 80px 0 70px 70px;

 
}
.details{
  font-family: 'Nunito';
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  letter-spacing: normal;
  color: #3a5edd;
}
.overview{
margin-left: 7rem;
}
.cloud{
  font-family: 'Nunito';
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #383e69;
  letter-spacing: normal;
}
.skills{
  margin-left: 70px;
  background-color: #30abd6;
  width: 90%;
  height: 242px;
  border: 1px solid white;
  border-radius: 10px;
}
.gain{
  font-family: 'Nunito';
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  margin:31px 0;
  letter-spacing: normal;
  line-height: 5rem;
  color: #ffffff;
}
.tools{
  font-family: 'Nunito';
  font-weight: bold;
  font-size: 4rem;
  line-height: 5rem;
  letter-spacing: normal;
  color: #1f2343;
}
.card1{
  width: 208px;
  height: 140px;
}
.benefits{
  margin-top: 100px;
  background-color: #f0f5f9;
}
.data{
  font-family: 'Nunito';
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: normal;
  color: #383e69;
  margin: 0 0 20px 70px;
}
.des{
  font-family: 'Nunito';
  font-weight: bold;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: normal;
  color: #1f2343;
  margin: 0 0 11px 70px;
}
.hiring{
  margin: 100px 0 0 0;

}
.brand{
  margin-top:30px
}
.tony{
  font-family: 'Nunito';
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 3.4rem;
}




@media (min-width: 1281px) {
  .bgimg{ width: 100%;
height: 576px;
  }

  
}

@media (min-width: 1025px) and (max-width: 1280px) {
   .bgimg{
     width: 100%;
     height: 576px;
  }
  
}


@media (min-width: 768px) and (max-width: 1024px) {
  
  .bgimg{
     width: 100%;
     height: 576px;
  }

}



@media (min-width: 481px) and (max-width: 767px) {
  
 .bgimg{
     width: 100%;
     height: 330%;
  }
 .carsous{
    margin-top: 832px;
  }
  
}


@media (min-width: 320px) and (max-width: 480px) {
   .bgimg{
     width: 100%;
     height: 370%;
  }
  .carsous{
    margin-top: 915px;
  }
}
