:root {
  --azure: #30abd6;
  --very-light-blue: #e4ecf3;
  --white: #ffffff;
  --invalid-name: #eff2fa;
  --invalid-name: #1b70f0;
  --pale-grey: #f0f5f9;
  --dark: #1f2343;
  --amethyst: #8e4dd6;
  --pale-grey: #f6f9fa;
  --topaz: #10c9b9;
  --dark-grey-blue: #383e69;
  --red-pink: #e73958;
  --warm-blue: #3a5edd;
  --butterscotch: #ffb44d;
}
html{
  font-size: 62.5%;
}
/* a{
  text-decoration: none;
} */
/* ul{
  list-style: none;
} */
li::marker{
  color: #30abd6;
 font-size: 16px;
}
.Course_Detail_01 {
  padding: 0;
  font-family: 'Nunito';
  background-color: var(--white);
  width: 100%;
  height: auto;
  margin: 0;
}
.bgimg{
  position: absolute; 
  width: 100%;
}
.rectangle{
  margin: 0 7rem;
  padding-top: 2.5rem;
}
.alogoaicolour {
  /* width: 20.7rem;
  height: 3rem; */
  object-fit: contain;
}
.Home {
  font-family:'Nunito';
  font-size: 1.6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.6rem;
  letter-spacing: normal;
  color: var(--white);
  margin-right: 4rem;
}
.und .active{
  font-weight: bold;
  text-decoration: underline;
}
.Color {
  width: 11rem;
  height: 3.6rem;
  border-radius: 0.6rem;
  background-color: var(--azure);
}
.color{
  width: 20rem;
  height: 3.6rem;
  border-radius: 0.6rem;
  background-color: var(--azure);
}
.colcolor{
  padding: 4.6rem 0 0 5rem;
  border-radius: 0.6rem;
  background-color: #f0f5f9;
}
.button-text {
 font-weight: bold;
  margin-right: 0;
}
.bgmar{
  position: absolute;
  margin-top: 13.3rem;
  padding: 0 7rem;
}

.Machine-Learning {
  font-family: 'Nunito';
  font-size: 5.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 7rem;
  letter-spacing: normal;
  color: var(--white);
  margin: 2rem 0 1rem 0;
}
.Become-a-machine-lea {
  font-family: 'Nunito';
  font-size: 2.4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  color: var(--white);
  margin: 0 0 1.5rem 0;
}
.star{
  font-family: 'Nunito';
  font-size: 1.6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.6rem;
  letter-spacing: normal;
  color: var(--white);
  /* margin-left: 7rem; */
}
._stars{
  padding-left: 2rem;
  width: 12rem; 
}
.rec{
  width: 163px;
  height: 36px;
  margin:2rem 0 0 0;
  border: 1px  white;
  border-radius: 2px;
  /* opacity: 10%; */
}
.users{
  font-family: 'Nunito';
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--white); 
}


.banner-video:hover{
  transform: scale(1.5);
}
.carsous{
  margin-top: 460px;
  padding: 0 7rem;
  
}
.btnrhs{
  width: 0%;
  left: 80px;
}
.btnlhs{
  width: 0%;
  left: 20px;
}


.card{
  border-radius: 10px;
  /* width: 226px; */
  height: 203px;
  float: left;
}
.cardtitle{
  padding: 10px 0 0 10px;
  font-family: 'Nunito';
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: normal;
  color: #1f2343;
}
.card-imgs{
  width: 75px;
  height: 75px;

  padding: 20px 0 10px 20px ;
}

.tabs{
  margin: 80px 0 70px 0px;
}
.nrmlpills{
  color: #3a5edd ;
  padding: 0 7rem;
  background-color: #ffffff;
}

.details{
  font-family: 'Nunito';
  
  font-size: 2rem;
  /* text-align: center; */
  line-height: 3rem;
  letter-spacing: normal;
  color: #383e69;
  margin-right: 60px;
}
hr{
  margin: 0;
}
.remaintext{
  font-family: 'Nunito';
  font-weight: normal;
  font-size: 2rem;
  /* text-align: center; */
  line-height: 3rem;
  letter-spacing: normal;
  color: #383e69;
  margin-right: 60px;
}
.cloimg{
  background-color: blue;
}
.nrmlpills .nav-item .active  {
  background-color: #ffffff;
  color: #0d6efd;
  font-weight: bold; 
}
.accorques{
  font-family: 'Nunito';
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: normal;
  color: #1f2343;
}
.h2text{
  font-family: 'Nunito';
  font-size: 4rem;
  line-height: 5rem;
  letter-spacing: normal;
  color: #1f2343;
}
.h3text{
  font-family: 'Nunito';
  font-size: 2.4rem;
  line-height: 3.4rem;
  letter-spacing: normal;
  color: #1f2343;
}
.h4text{
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: normal;
  color: #383e69;

}
.h5text{
 
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: normal;
  color: #383e69;
}
.roundedpill{
  padding: 0 7rem;
}
.roundedpill .nav-item .nav-link{
  background-color: #f0f5f9;
}
.roundedpill .nav-item .active{
  background-color: #0d6efd;
  color: #ffffff;
}
.overviewimg{
  padding: 0 7rem;
}

.button1{
  width: 172px;
  height: 32px;
  font-family: 'Nunito';
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: normal;
  text-align: center;
  
  color: #383e69;
}
.button2{
  width: 133px;
  height: 32px;
  font-family: 'Nunito';
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: normal;
  text-align: center;
 
  color: #383e69; 
}
.button3{
  width: 149px;
}
.button4{
  width: 180px;
}


.cloud{
  font-family: 'Nunito';
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #383e69;
  letter-spacing: normal;
}
.skillsec{
  padding: 0 7rem;
}
.skills{
  margin-top: 100px;
  background-color: #30abd6;
  width: 100%;
  height: auto;
  border: 1px solid white;
  border-radius: 10px;
}
.gain{
  font-family: 'Nunito';
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  margin:31px 0;
  letter-spacing: normal;
  line-height: 5rem;
  color: #ffffff;
}
.skillbox{
  width: 228px;
  height: 31px;
  border: 1px solid white;
  margin:0 20px 25px 0;
}
.toolsec{
  margin-top: 100px;
  padding: 0 7rem;
}
.Tags {
  font-family: 'Nunito';
  font-size: 1.4rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.4rem;
  letter-spacing: normal;
  color: var(--white);
  text-align: center;
}
.tools{
  font-family: 'Nunito';
  font-weight: bold;
  font-size: 4rem;
  line-height: 5rem;
  letter-spacing: normal;
  color: #1f2343;
  margin-bottom: 60px;
}
.carprev{
  width: 8%;
}
.data1{
  width: 130px;
  height: 26px;
  background-color: white;
}
.data2{
  width: 224px;
  height: 26px;
  background-color: white;

}
.cards1{
 
  width: 208px;
  height: 140px;
  /* margin-right: 25px; */
}
.caimg{
  width: 200px;
  height: 130px;
}

.benefits{
  margin-top: 100px;
  padding: 6rem 7rem;
  background-color: #f0f5f9;
}
.pricecon{
  padding-left: 168px;
  padding-right: 168px;
}
.data{
  font-family: 'Nunito';
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: normal;
  color: #383e69;
  margin: 0 0 20px 0;
}
.des{
  font-family: 'Nunito';
  font-weight: bold;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: normal;
  color: #1f2343;
  margin-bottom: 11px;
}
.graph{
  padding-left: 7rem;
}
.hiring{
  margin: 100px 0 0 0;
  padding: 0 7rem;
}
.hiringrec{
  width: 303px;
  height: 33px;
  border-radius: 2px;
  background-color: #f0f5f9;
  margin-top: 75px;
}
.tony{
  font-family: 'Nunito';
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 3.4rem;
}
.partnersec{
  margin-top: 100px;
  padding: 0 7rem;
}
.partnercarind{
  top: 180px;
  height: 50px;
  text-align: center;
  /* width: 6%; */
}
.prevs{
    width: 0%;
    top: 195px;
    right: 0px;
    left: 530px;

}
.nexts{
  width: 0%;
  top: 195px;
left: 670px;
}



@media (min-width: 1281px) {
  .bgimg{ width: 100%;
height: 576px;
  }

  
}

@media (min-width: 1025px) and (max-width: 1280px) {
   .bgimg{
     width: 100%;
     height: 576px;
  }
  
}


@media (min-width: 768px) and (max-width: 1024px) {
  
  .bgimg{
     width: 100%;
     height: 725px;
  }
   .carsous{
    margin-top: 600px;
  }
  
}



@media (min-width: 481px) and (max-width: 767px) {
  
 .bgimg{
     width: 100%;
     height: 360%;
  }
 .carsous{
    margin-top: 900px;
  }
  
}


@media (min-width: 320px) and (max-width: 480px) {
   .bgimg{
     width: 100%;
     height: 370%;
  }
  .carsous{
    margin-top: 915px;
  }
}

@media (min-width: 0px) and (max-width: 319px) {
   .bgimg{
     width: 100%;
     height: 370%;
  }
  .carsous{
    margin-top: 915px;
  }
}

